<div >
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of workerColumns"> {{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workerData | slice: (page-1)*pageSize : (page-1)*pageSize+pageSize">

        <td>{{ worker.num }}</td>
        <td>{{ worker.from }}</td>
        <td>{{ worker.from_date }}</td>
        <td>{{ worker.to }}</td>
        <td>{{ worker.to_date }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2 position-pagination">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  </div>

</div>